#Header



```
# Group Assignment # 4 - Michael Fagan.

# This project is not fully completed, I probably should have started earlier but I expected my group to contribute something to this assignment. 
# There were somethings that I had trouble with that I was not able to get to work but I think most of the issues have been fixed except foreign keys
#I was not able to understand how to get the foreign keys to work which caused problems with creating the tables.
# I apologize for not being able to get this to be finished, I was hoping that when I woke up this morning at least one one of my group members would fix what I had trouble fixing and we can submit it late but completed, however, it looks like that will not be happening. 
```

#Imports + Connections

In [0]:
import urllib

f = urllib.request.urlopen("https://raw.githubusercontent.com/MichaelFagan1/group-assignment/master/Untitled%20spreadsheet%20-%20Sheet1%20(1).csv")
WorkerData = str(f.read().decode('utf-8'))
g = urllib.request.urlopen("https://raw.githubusercontent.com/MichaelFagan1/group-assignment/master/Untitled%20spreadsheet%20-%20Sheet1%20(3).csv")
ChildrenAreaData = str(g.read().decode('utf-8'))
h = urllib.request.urlopen("https://raw.githubusercontent.com/MichaelFagan1/group-assignment/master/Untitled%20spreadsheet%20-%20Sheet1%20(4).csv")
WaterParkData = str(h.read().decode('utf-8'))
i = urllib.request.urlopen("https://raw.githubusercontent.com/MichaelFagan1/group-assignment/master/Untitled%20spreadsheet%20-%20Sheet1%20(5).csv")
TicketSalesData = str(i.read().decode('utf-8'))
j = urllib.request.urlopen("https://raw.githubusercontent.com/MichaelFagan1/group-assignment/master/Untitled%20spreadsheet%20-%20Sheet1%20(6).csv")
ConcessionsData = str(j.read().decode('utf-8'))
k = urllib.request.urlopen("https://raw.githubusercontent.com/MichaelFagan1/group-assignment/master/Untitled%20spreadsheet%20-%20Sheet1%20(7).csv")
RollercoasterData = str(k.read().decode('utf-8'))

In [0]:
import sqlite3

In [0]:
connectionToDatabase = sqlite3.connect('WorkerData')

In [0]:
 cursor = connectionToDatabase.cursor()

#Worker Table Creation

In [0]:
cursor.execute('''create table IF NOT EXISTS Workers (WorkerID INTEGER PRIMARY KEY, first_name TEXT, last_name TEXT, email TEXT, hours INTEGER)''')
connectionToDatabase.commit()

In [0]:
for line in WorkerData.split("\n")[1:6]:
  data = line.split(",")
  print (data[0],data[1],data[2],data[3],)

In [0]:
for line in WorkerData.split("\n")[1:-1]:
  data = line.split(",")
  try:
    insertStatement =  """insert into worker values ("%s",%s,%s,%s,%s)""" % (data[0],data[1],data[2],data[3],)
    cursor.execute(insertStatement)
    connectionToDatabase.commit() 
  except:
    continue #Worker data will not seem to go into the Workers table, not sure why

#Children Area Table Creation

In [0]:
cursor.execute('''create table IF NOT EXISTS ChildrenArea (AreaID INTEGER PRIMARY KEY, numPeople INTEGER, santiation_date TEXT, FOREIGN KEY(WorkerID) REFERENCES Workers(WorkerID))''') #Foreign key will not work not sure why
connectionToDatabase.commit()

In [0]:
for line in ChildrenAreaData.split("\n")[0:6]:
  data2 = line.split(",")
  print (data2[0],data2[1],data2[2],)

In [0]:
for line in ChildrenAreaData.split("\n")[1:-1]:
  data2 = line.split(",")
  try:
    insertStatement2 =  """insert into Children's Area values ("%s",%s,%s,%s,%s)""" % (data2[0],data2[1],data2[2],)
    cursor.execute(insertStatement2)
    connectionToDatabase.commit() 
  except:
    continue #ChidlrenAreaData data will not seem to go into the Children's Area table, not sure why

# Water Park Table Creation

In [0]:
cursor.execute('''create table IF NOT EXISTS WaterPark (WaterParkID INTEGER PRIMARY KEY, LockersUsed INTEGER, WaterUsedGallons INTEGER, LinelengthMinutes INTEGER,  FOREIGN KEY(WorkerID) REFERENCES Workers(WorkerID),)''') #Foreign key will not work not sure why
connectionToDatabase.commit()

In [0]:
for line in WaterParkData.split("\n")[0:6]:
  data3 = line.split(",")
  print (data3[0],data3[1],data3[2],data3[3],)

In [0]:
for line in WaterParkData.split("\n")[1:-1]:
  data3 = line.split(",")
  try:
    insertStatement3 =  """insert into Water Park's values ("%s",%s,%s,%s,%s)""" % (data3[0],data3[1],data3[2],data3[3],)
    cursor.execute(insertStatement3)
    connectionToDatabase.commit() 
  except:
    continue #WaterPark data will not seem to go into the   table, not sure why

# Ticket Sales Table Creation

In [0]:
cursor.execute('''create table IF NOT EXISTS TicketSales (DateID INTEGER PRIMARY KEY, TicketsSold INTEGER, FOREIGN KEY(WorkerID) REFERENCES Workers(WorkerID), )''') #Foreign key will not work not sure why
connectionToDatabase.commit()

In [39]:
for line in TicketSalesData.split("\n")[0:6]:
  data4 = line.split(",")
  print (data4[0],data4[1])

11/15 2333
11/16 2345
11/17 2341
11/18 2311
11/19 2222

In [0]:
for line in TicketSalesData.split("\n")[1:-1]:
  data4 = line.split(",")
  try:
    insertStatement4 =  """insert into Ticket Sale's  values ("%s",%s,%s,%s,%s)""" % (data4[0],data4[1])
    cursor.execute(insertStatement4)
    connectionToDatabase.commit() 
  except:
    continue #TicketSaleData data will not seem to go into the table, not sure why

# Food Concession Table creation

In [0]:
cursor.execute('''create table IF NOT EXISTS FoodConcessions (TableNumber INTEGER PRIMARY KEY, Profit real, InventoryInUnits INTEGER, QuantitySold INTEGER, FOREIGN KEY(WorkerID) REFERENCES Workers(WorkerID), )''') #Foreign key will not work not sure why
connectionToDatabase.commit()

In [47]:
for line in ConcessionsData.split("\n")[0:6]:
  data5 = line.split(",")
  print (data5[0],data5[1],data5[2],data5[3])

1 3213.32 55 55
2 3200.31 77 77
3 3173.31 211 89
4 3123.35 183 74
5 3109.94 88 54

In [0]:
for line in ConcessionsData.split("\n")[1:-1]:
  data5 = line.split(",")
  try:
    insertStatement5 =  """insert into Ticket Sale's  values ("%s",%s,%s,%s,%s)""" % (data5[0],data5[1],data5[2],data5[3])
    cursor.execute(insertStatement5)
    connectionToDatabase.commit() 
  except:
    continue #Concession data will not seem to go into the table, not sure why

# Rollercoaster Table Creation

In [0]:
cursor.execute('''create table IF NOT EXISTS Rollercoaster (RollerCoasterName TEXT PRIMARY KEY, LineLengthMinutes INTEGER, InspectionDate TEXT, FOREIGN KEY(WorkerID) REFERENCES Workers(WorkerID))''') #Foreign key will not work not sure why
connectionToDatabase.commit()

In [0]:
for line in RollercoasterData.split("\n")[0:6]:
  data6 = line.split(",")
  print (data6[0],data6[1],data6[2],)

In [0]:
for line in RollercoasterData.split("\n")[1:-1]:
  data6 = line.split(",")
  try:
    insertStatement6 =  """insert into Rollercoaster's  values ("%s",%s,%s,%s,%s)""" % (data6[0],data6[1],data6[2],data6[3],)
    cursor.execute(insertStatement6)
    connectionToDatabase.commit() 
  except:
    continue #Rollercoaster data will not seem to go into the table, not sure why

# Questions

What is the average wait time for the water park

In [0]:
cursor.execute('''SELECT AVG(LinelengthMinutes) FROM WaterPark''')
for row in cursor.fetchall():
  print (row)



```
# When running a waterpark it is important to understand your average line length for all your rides because if the ride length is too long, that can detract future customers who may want to go to your water park but will not because of the wait. Finding that this is a problem to possibly find ways to address it is essential if you want to have a successful water park. Disney for example, offers fast passes as well as check-ins on their app so you do not have to wait in long lines. 
```

Who worked the most hours (limit to 3)?

In [0]:
cursor.execute('''SELECT * FROM Workers ORDER BY hours DESC limit 3''')
for row in cursor.fetchall():
  print (row)



```
# Finding out who works the most hours in your water park is important because that shows the water park who their hardest workers are and who can be in line for future promotions or raises. Giving a top 3 from your list of workers give the company their 3 top people that they can choose from as they wish. 
```

How much profit was made in concessions in total?

In [0]:
cursor.execute('''SELECT sum(profit) from FoodConcessions''')
for row in cursor.fetchall():
  print (row)



```
# Cacluating profit from your concession stands helps to show if your customers feel that your food is either good or well priced. If profits were way too low, then they would have to conduct a survey or find more data on whether it was because of their prices or food quality.
```